<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="SetAttributes" debug="true"  />
  </system.web>

  <appSettings>
    <add key="JobBaseUrl" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="https://dcol-dev-jobapi-weu.dev.ase.dct.fasst.org.uk/api"/>
    <add key="ServiceBusConnectionString" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="Endpoint=sb://dcol-dev-servicebus-weu.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=h0W4bcAWMbFL19zDiA5jx3V5dndefXoP+kG4l0ETUhA="/>
    <add key="ilrtopic" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="ilr1819submissiontopic"/>
    <add key="AuditConnectionString" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="data source=DCOL-DEV-SqlServer-WEU.database.windows.net;initial catalog=AppAudit;User Id=AppAuditUser;Password=4vCTr5Rg@adb01YEj39GFB-eqoLwMOAD872;MultipleActiveResultSets=True;App=AuditService"/>
    <add key="IdentityRealm" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="urn:local"/>
    <add key="IdentityMetadata" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="https://dcol-identityserver.azurewebsites.net/wsfederation"/>
  </appSettings>
  
</configuration>
