<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="SetAttributes" debug="true"  />
  </system.web>

  <appSettings>
    <add key="JobBaseUrl" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="https://xxx.yyy.zzz/api"/>
    <add key="ServiceBusConnectionString" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="Endpoint="/>
    <add key="ilrtopic" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="topicNameHere"/>
    <add key="AuditConnectionString" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="data source="/>
    <add key="IdentityRealm" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="urn:localhost"/>
    <add key="IdentityMetadata" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="https://localhost/wsfederation"/>    
  </appSettings>
  
</configuration>
