<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <add key="JobBaseUrl" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__JobBaseUrl__"/>
    <add key="ServiceBusConnectionString" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__ServiceBusConnectionString__"/>
    <add key="ilrtopic" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__ilrtopic__"/>
    <add key="AuditConnectionString" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__AuditConnectionString__"/>
    <add key="IdentityRealm" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__IdentityRealm__"/>
    <add key="IdentityMetadata" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__IdentityMetadata__"/>
  </appSettings>
  
</configuration>
